	    <div class="container">
	
	      <div class="row">
	      	
	      	
	      	<div class="span8 offset2">	
	      		
	      		
	      		<div class="widget">
						
					<div class="widget-header">
						<i class="icon-bookmark"></i>
						<h3>Select An App To Edit</h3>
					</div> <!-- /widget-header -->
					
					<div class="widget-content">
						
						<div class="shortcuts">
							<a href="javascript:;" class="shortcut">
								<i class="shortcut-icon"><img src="assets/stanford.png" alt="" width="100" height="75"></i>
								<span class="shortcut-label">iStanford Labs</span>
							</a>

						</div> <!-- /shortcuts -->	
					
					</div> <!-- /widget-content -->
					
				</div> <!-- /widget -->

	      		<div class="widget">
						
					<div class="widget-header">
						<i class="icon-bookmark"></i>
						<h3>Select Device, Orientation, and Page</h3>
					</div> <!-- /widget-header -->
					
					<div class="widget-content">
						
			<!-- 			<div class="shortcuts">
							<a href="javascript:;" class="shortcut">
								<i class="shortcut-icon"><img src="assets/iPhone.jpg" alt=""></i>
								<span class="shortcut-label"><strong>iPhone</strong> - Page 1</span>
							</a>
							
							<a href="javascript:;" class="shortcut">
								<i class="shortcut-icon"><img src="assets/iPhone.jpg" alt=""></i>
								<span class="shortcut-label"><strong>iPhone</strong> - Page 2</span>								
							</a>
							
							<a href="javascript:;" class="shortcut">
								<i class="shortcut-icon"><img src="assets/iPhone.jpg" alt=""></i>
								<span class="shortcut-label"><strong>iPhone</strong> - Page 3</span>	
							</a>
							
							<a href="javascript:;" class="shortcut">
								<i class="shortcut-icon"><img src="assets/plus.png" alt=""></i>
								<span class="shortcut-label">Add new page</span>								
							</a>

							<a href="javascript:;" class="shortcut">
								<i class="shortcut-icon"><img src="assets/iPad.jpg" alt=""></i>
								<span class="shortcut-label"><strong>iPad</strong> - Page 1</span>
							</a>
							<a href="javascript:;" class="shortcut">
								<i class="shortcut-icon"><img src="assets/iPad.jpg" alt=""></i>
								<span class="shortcut-label"><strong>iPad</strong> - Page 2</span>
							</a>
							<a href="javascript:;" class="shortcut">
								<i class="shortcut-icon"><img src="assets/iPad.jpg" alt=""></i>
								<span class="shortcut-label"><strong>iPad</strong> - Page 3</span>
							</a>
							
							<a href="javascript:;" class="shortcut">
								<i class="shortcut-icon"><img src="assets/plus.png" alt=""></i>
								<span class="shortcut-label">Add new page</span>								
							</a>
							
						</div> <!-- /shortcuts -->

					
					</div> <!-- /widget-content -->
					
				</div> <!-- /widget -->



	      		<div class="widget">
						
					<div class="widget-header">
						<i class="icon-bookmark"></i>
						<h3>Arrange Page</h3>
					</div> <!-- /widget-header -->
					
					<div class="widget-content">

					</div> <!-- /widget-content -->
											<!-- 					<button href="#" class="button btn btn-success btn-large">Update App</button>	 -->
				</div> <!-- /widget -->

	      		<div class="widget">
						
					<div class="widget-header">
						<i class="icon-bookmark"></i>
						<h3>Add a new module</h3>
					</div> <!-- /widget-header -->
					
					<div class="widget-content">

						
<!-- 						<div class="shortcuts">
							<a href="javascript:;" class="shortcut">
								<i class="shortcut-icon icon-list-alt"></i>
								<span class="shortcut-label">Campus Tour</span>
							</a>
							
							<a href="javascript:;" class="shortcut">
								<i class="shortcut-icon icon-list-alt"></i>
								<span class="shortcut-label">GradeLink</span>								
							</a>
							
							<a href="javascript:;" class="shortcut">
								<i class="shortcut-icon icon-list-alt"></i>
								<span class="shortcut-label">Student and Faculty Search</span>	
							</a>
							
							<a href="javascript:;" class="shortcut">
								<i class="shortcut-icon icon-list-alt"></i>
								<span class="shortcut-label">Athletics</span>								
							</a>

						</div> <!-- /shortcuts -->
					
					</div> <!-- /widget-content -->
																<br><button href="#" class="button btn btn-success btn-large pull-right">Update App</button>
				</div> <!-- /widget -->
						
									
		      </div> <!-- /span8 offset2 -->
	      	
	      </div> <!-- /row -->
	
	    </div> <!-- /container -->