<div class="main">
	
	<div class="main-inner">

	    <div class="container">
	
	      <div class="row">
	      	
	      	<div class="span8 offset2">
	      		
	      		<div class="widget">
						
					<div class="widget-header">
						<i class="icon-pushpin"></i>
						<h3>Analytics</h3>
					</div> <!-- /widget-header -->
					
					<div class="widget-content">
						
						<iframe width="600" height="650" src="http://www.google.com/analytics/" frameborder="0" allowfullscreen></iframe
						
					</div> <!-- /widget-content -->
						
				</div> <!-- /widget -->
		    </div> <!-- /span8 offset2 -->
		    
	      	
	      </div> <!-- /row -->
	
	    </div> <!-- /container -->
    
	</div> <!-- /main-inner -->
	    
</div> <!-- /main -->