<div class="main">
	
	<div class="main-inner">

	    <div class="container">
	
	      <div class="row">
	      	
	      	<div class="span8 offset2">
	      		
	      		<div class="widget">
						
					<div class="widget-header">
						<i class="icon-pushpin"></i>
						<h3>Frequently Asked Questions</h3>
					</div> <!-- /widget-header -->
					
					<div class="widget-content">
						
						<ol class="faq-list">
							
							<li>
									<h4>How can I get help if I need it?</h4>
									<p>Just shoot an email to matt@metaneer.com. Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.Just shoot an email to matt@metaneer.com.</p>	
									
							</li>

							<li>
									<h4>How can I get help if I need it?</h4>
									<p>Just shoot an email to matt@metaneer.com.</p>	
									
							</li>

							<li>
									<h4>How can I get help if I need it?</h4>
									<p>Just shoot an email to matt@metaneer.com.</p>	
									
							</li>
							
						</ol>
						
						
					</div> <!-- /widget-content -->
						
				</div> <!-- /widget -->	
				<div class="widget widget-plain">
					
					<div class="widget-content">
						
						<a href="javascript:;" class="btn btn-large btn-warning btn-support-ask">Ask A Question</a>	
						
						
						<a href="javascript:;" class="btn btn-large btn-support-contact">Contact Support</a>
						
						
						
					</div> <!-- /widget-content -->
						
				</div> <!-- /widget -->
		    </div> <!-- /span8 offset2 -->
		    
	      	
	      </div> <!-- /row -->
	
	    </div> <!-- /container -->
    
	</div> <!-- /main-inner -->
	    
</div> <!-- /main -->
    
<script>

$(function () {
	


});

</script>