<p>Dear Admin,</p>

<p>You have received a new module submission that is ready for review.</p>

<p>Please log in to <a href="http://metastuff.herokuapp.com">your account</a> to review the submission.</p>

<p>If you have any issues, you can contact <a href="mailto:matt@metaneer.com">matt@metaneer.com</a> .</p>