<p>Dear <%= @mod_submission.your_email %>,</p>

<p>Thank you for submitting your module to iStanford.</p>

<p>Your submission is currently in review and we you will receive an email notification when the status of the submission changes.</p>

<p>If you have any questions, you can contact <a href="mailto:matt@metaneer.com">matt@metaneer.com</a> .</p>


Please describe in 2-3 sentences how this app benefits the Stanford community.