<div class="container">
			
			<div class="row">
				
    			<div class="span8 offset2">
    					<a href="/dashboard">Dashboard</a>
    					<br>
    					<a href="/faq">FAQ's</a>
    			</div> <!-- /span8 offset2 -->
    			
    		</div> <!-- /row -->
    		
</div> <!-- /container -->