<%- model_class = ModSubmission -%>


          <div class="container">
      
            <div class="row">
              
              
              <div class="span8 offset2"> 
                
                
                <div class="widget">
                
              <div class="widget-header">
                <i class="icon-bookmark"></i>
                <h3>Submit an App For Review</h3>
              </div> <!-- /widget-header -->
              
              <div class="widget-content">
				<%= render :partial => 'form' %>
              </div> <!-- /widget-content -->
              
            </div> <!-- /widget -->

          </div> <!-- /span8 offset2 -->
          
        </div> <!-- /row -->
  
      </div> <!-- /container -->
