          <div class="container">
      
            <div class="row">
              
              
              <div class="span8 offset2"> 
                
                
                <div class="widget">
                
              <div class="widget-header">
                <i class="icon-bookmark"></i>
                <h3>Your app has been submitted!</h3>
              </div> <!-- /widget-header -->
              <div class="widget-content">
                <p>We sent an email to you with confirmation of your submission. <br> <br>When your app is reviewed, you will receive a notification of the decision via email.</p>
                <h3><a href="/">Download iStanford</a></h3>
              </div> <!-- /widget-content -->
              
            </div> <!-- /widget -->

          </div> <!-- /span8 offset2 -->
          
        </div> <!-- /row -->
  
      </div> <!-- /container -->
